/*  your css code here. If applicable */

#Maincontainer{
/* 	width:100vw;
	height:100vw; */
	background-color:#f5f5f5;
	padding:15px;
}
.box{
	margin:5px;
	border:1px black;
	background-color:white;
	padding:10px;
}
.author{
	text-align:right;
	font-style:italic;
}