/*  your css code here. If applicable */

#Maincontainer{

	background-color:#f5f5f5;
	padding:10px;
}
.box{
	font-size:13px;
	font-style:sans-serif;
	padding:12px;
	border:2px solid #dcdcdc;
	background-color:white;
}
.author{
	text-align:right;
	font-style:italic;
}